<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->

<h1 th:text="'List of Vets'">List of Vets...</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet?.firstName}">Joe</td>
        <td th:text="${vet?.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>